{% extends 'base.html' %}

{% block content %}
<div class="p-3 mb-2 bg-warning text-dark">
    <h1><b><center>HELLO EVERYONE!</center></b></h1>
</div>
    <div class="bg-success p-2 text-dark bg-opacity-25">
    <center>
        <a href="/materi">
        <img src="\static\img\materi.png" height="200px"></a>
        <br>
        <font>
        <h4><b>MATERI</b></h4>
        </font>
    </center>
    <br>
    <center>
        <a href="/pecahansenilai">
        <img src="\static\img\homesenilai.jpg" height="200px"></a>
        <br>
        <font>
        <h4><b>PECAHAN SENILAI</b></h4>
        </font>
    </center>
    <br>
    <center>
        <a href="/pecahanpenjumlahan">
        <img src="\static\img\penjumlahanhome.png" height="200px"></a>
        <br>
        <font>
        <h4><b>PECAHAN PENJUMLAHAN</b></h4>
        </font>
    </center>
    <br>
    <center>
        <a href="/pecahanpengurangan">
        <img src="\static\img\penjumlahanhome.png" height="200px"></a>
        <br>
        <font>
        <h4><b>PECAHAN PENGURANGAN</b></h4>
        </font>
    </center>
    <br>
    <center>
        <a href="/pecahanoperasi">
        <img src="\static\img\operasihome.png" height="200px"></a>
        <br>
        <font>
        <h4><b>PECAHAN OPERASI</b></h4>
        </font>
    </center>
    <br>
    <center>
        <a href="/pecahandesimal">
        <img src="\static\img\desimalhome.png" height="200px"></a>
        <br>
        <font>
        <h4><b>PECAHAN DESIMAL</b></h4>
        </font>
    </center>
    <br>
    <center>
        <a href="/evaluasi">
        <img src="\static\img\evaluasihome.png" height="200px"></a>
        <br>
        <font>
        <h4><b>EVALUASI</b></h4>
        </font>
    </center>
    <br>
    <center>
        <a href="/video">
        <img src="\static\img\videohome.jpg" height="200px"></a>
        <br>
        <font>
        <h4><b>VIDEO</b></h4>
        </font>
    </center>
    <br>
    <center>
        <a href="/profil">
        <img src="\static\img\profilhome.jpg" height="200px"></a>
        <br>
        <font>
        <h4><b>PROFIL</b></h4>
        </font>
    </center>

    </div>
{% endblock %}