{% extends 'base.html' %}

{% block content %}
<div class="p-3 mb-2 bg-dark text-white">
    <h1><b><center>VIDEO PEMBELAJARAN PECAHAN</center></b></h1>
</div>
<div class="p-3 mb-2 bg-info text-dark">  
<center>
    <h1><b>PECAHAN SENILAI</b></h1>
    <p>Berikut ini adalah video pembelajaran mengenai pecahan senilai simak videonya!</p>
    <br>    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IgoKEbzvJjA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></a>
</center>

<center>
    <h1><b>PECAHAN PENJUMLAHAN</b></h1>
    <p>Agar kalian lebih paham mengenai materi pecahan penjumlahan, mari simak video berikut ini!</p>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ul0IwC3QvXs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>

<center>
    <h1><b>PECAHAN PENGURANGAN</b></h1>
    <p>Untuk lebih memahami materi pecahan pengurangan, simaklah video berikut ini!</p>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jfHvzOXQths" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>

<center>
    <h1><b>PECAHAN OPERASI</b></h1>
    <p>Untuk lebih menguasai pecahan campuran, simaklah video berikut ini!</p>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EzX3-F-bu7U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>

<center>
    <h1><b>PECAHAN DESIMAL</b></h1>
    <p>Untuk lebih memahami dan menguasai materi desimal, maka simaklah video berikut ini!</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EzX3-F-bu7U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>

<center>
    <p><b>Itulah mengenai video-video pembelajaran materi dari macam-macam pecahan, semoga bermanfaat ya!</b></p>
</center>
{% endblock %}