{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="bg-success p-2 text-white bg-opacity-75">
    <h1><b><center>PECAHAN CAMPURAN</center></b></h1>
</div>
<div class="bg-success p-2 text-white">
<center>
    <h4><b>Pecahan campuran adalah campuran antara bilangan bulat dengan pecahan biasa atau bisa disebut sebagai pembilang dan penyebut. Pembahasan mudahnya, pecahan campuran adalah pecahan hasil dari pembagian dari pecahan biasa yang angka pembilangnya lebih besar dibanding angka penyebut.</b></h4>
    </center>
    <p>Contohnya, nih, pecahan 13/2 adalah proses pembagian 13 : 2 = 6 (memiliki sisa 1). Nah, angka 6 ini merupakan bilangan bulat, angka 1 adalah pembilang dan angka 2 bilangan penyebut hingga membentuk pecahan 6 1/2.</p>
    <p>Apabila pecahan tadi dikali dan ditambah akan menghasilkan angka 13/2. Caranya cukup Gampang. Kamu tinggal mengkalikan angka penyebut (2) dengan bilangan bulat (6), lalu ditambah angka pembilang (1).</p>
    <p>Sudah mengerti? Jika sudah, langsung simak saja cara mudah menghitung perkalian pecahan campuran.</p>
    <h4><b>Cara Mudah Menghitung Perkalian Pecahan Campuran</b></h4>
    <p>Selain memahami dan membedakan dari setiap jenis pecahan, saatnya mengetahui bagaimana cara melakukan perkalian pada pecahan campuran. Banyak cara dan juga triknya, jadi simak langkah-langkahnya dari contoh soal di bawah ini.</p>
    <p>Perhatikan gambar berikut ini!</p>
    <br>
    <img src="{% static 'img/campuran1.png' %}"  width="250px">
    <br>
    <p>Aturan saat mengerjakan soal penjumlahan pecahan dan pengurangan pecahan adalah:
    <p>Kerjakan dengan menyamakan penyebutnya terlebih dahulu.</p>
    <p>Jika ada yang ada dalam kurung, maka kerjakan dulu yang di kurung tersebut.</p>
    <p>Untuk menyelesaikan soal perkalian pecahan dan pembagian pecahan, silakan teman-teman simak contoh perkalian pecahan campuran dengan gambar berikut:</p>
    <br>
    <img src="{% static 'img/campuran2.jpg' %}"  width="250px">
    <br>
    <p>Aturan menyelesaikan pembagian dan perkalian pada pecahan:</p>
    <p>Hitung dari yang paling kiri.</p>
    <p>Jika ada yang dikurung, boleh didahulukan.</p>
    <p>Pada dua pembahasan di atas, teman-teman mungkin belum menemukan kesulitan yang berarti. Namun, di bagian ini banyak yang menemui kesulitan.</p>
    <p>Banyak sekali yang salah menghitung jika operasinya sudah campur jadi satu, orang dewasa sekalipun.</p>
    <p>Maka dari itu, silakan disimak pelan-pelan dan dipahami ya teman-teman!</p>
    <p>Contoh:</p>
    <br>
    <img src="{% static 'img/campuran3.png' %}"  width="250px">
    <br>
    <p>Aturan menyelesaikan perkalian pecahan campuran dengan penjumlahan atau pengurangan:</p>
    <p>Dahulukan perkalian dibanding penjumlahan atau pengurangan.</p>
    <p>Kecuali jika ada kurung, didahulukan yang ada di dalam kurung.</p>

{% endblock %}