{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="p-3 mb-2 bg-warning text-dark">
    <h1><b><center>PECAHAN PENJUMLAHAN</center></b></h1>
</div>
<div class="bg-success p-2 text-dark bg-opacity-10">
    <p><b>Perhatikan gambar pizza di bawah ini. Perhatikan pizza yang dipotong menjadi bagian-bagiantersebut. Pada gambar pizza tersebut, tampak bahwa 3 /8 dari keseluruhan pizza ditambah dengan 2/8 bagian dari keseluruhan lingkaran menghasilkan 5/8 dari keseluruhan lingkaran (perhatikan pizza yang dibagi per bagian).</b></p>
    <br>
    <img src="{% static 'img/penjumlahan1.jpg' %}"  width="600px">
    <br>
    <p>Bagaimana cara menyelesaikan contoh soal penjumlahan pada pecahan campuran dan biasa? Tanpa sadar kita sebenarnya sudah sangat familiar dengan penggunaan bilangan pecahan tersebut dalam keseharian. Pecahan sendiri merupakan bilangan yang terdiri dari pembilang dan penyebut sehingga bentuknya dapat berupa a/b. Dalam pecahan tersebut pada dasarnya juga mengandung beberapa operasi hitung di dalamnya. Salah satunya ialah penjumlahan pecahan. Pada dasarnya penjumlahan pecahan biasa dan penjumlahan pecahan campuran memiliki konsep pengerjaan yang sama. Akan tetapi dalam pecahan campuran harus ada pengubahan bentuk menjadi pecahan biasa terlebih dahulu. Hal ini dilakukan agar pengerjaannya dapat diselesaikan dengan mudah. Namun anda juga dapat memisahkan nilai bulat dan nilai pecahannya, sehingga tidak perlu dirubah menjadi pecahan biasa.</p>
    <p>Penjumlahan bilangan pecahan biasa ialah operasi penjumlahan pada pecahan biasa, dimana nilai pembilangnya lebih kecil dibandingkan penyebutnya. Pecahan biasa secara umum dapat dijumlahkan dengan cara menyamakan nilai penyebutnya terlebih dahulu. Agar anda lebih paham mengenai materi penjumlahan pecahan ini, maka perhatikan contoh soal seperti di bawah ini:</p>
    <p>2/5 + 1/3 =</p>
    <p>Contoh soal penjumlahan pecahan di atas dapat diselesaikan dengan menggunakan beberapa langkah. Adapun langkah langkah menjumlahkan pecahan biasa yaitu sebagai berikut:</p>
    <p><b>Menyamakan Penyebut:</b></p>
    <p>Cara penjumlahan pecahan biasa yang pertama yaitu menyamakan penyebutnya terlebih dahulu. Penyebut pecahan tersebut dapat disamakan dengan menggunakan konsep KPK. Untuk itu hasilnya akan menjadi seperti di bawah ini:</p>
    <p>5, 10, 15, 20, …</p>
    <p>3, 6, 9, 12, 15, 18, …</p>
    <p>KPK 5 dan 3 ialah 15</p>
    <p><b>Menentukan Pecahan Senilai:</b></p>
    <p>Cara menjumlahkan pecahan biasa selanjutnya ialah menentukan pecahan senilai. Setelah penyebutnya disamakan dengan KPK, kemudian pembilangnya dicari nilainya. Adapun caranya yaitu mengalikan pembilang dan penyebutnya. Untuk itu hasilnya akan menjadi seperti di bawah ini:</p>
    <br>
    <img src="{% static 'img/penjumlahan2.jpg' %}" alt="profilku" width="600px">
    <p>Langkah terakhir penjumlahan pecahan biasa ialah dengan menjumlahkan pecahan senilai. Dalam langkah ini pembilangnya cukup dijumlahkan setelah penyebut pecahannya disamakan. Untuk itu hasilnya akan menjadi seperti berikut:</p>
    <br>
    <img src="{% static 'img/penjumlahan3.jpg' %}" alt="profilku" width="600px">
    <br>
    <p><b>Menjumlahkan Pecahan Campuran</b></p>
    <p>Cara menyelesaikan penjumlahan pecahan campuran selanjutnya dapat dilakukan dengan metode yang hampir sama dengan menjumlahkan pecahan biasa. Akan tetapi dalam pecahan campuran terdapat pemisahan antara nilai pecahan dan nilai bulat di dalamnya. Agar anda lebih paham mengenai materi penjumlahan pecahan ini, maka perhatikan contoh soal seperti di bawah ini:</p>
    <br>
    <img src="{% static 'img/penjumlahan4.jpg' %}" alt="profilku" width="600px">
    <br>
    <p>Contoh soal penjumlahan pecahan di atas dapat diselesaikan dengan menggunakan beberapa langkah. Adapun langkah langkah menjumlahkan pecahan campuran yaitu sebagai berikut:</p>
    <p><b>Memisahkan Nilai Bulat dan Pecahan</b></p>
    <p>Cara penjumlahan pecahan campuran yang pertama yaitu memisahkan nilai bulat dengan nilai pecahannya. Untuk itu hasilnya akan menjadi seperti di bawah ini:</p>
    <br>
    <img src="{% static 'img/penjumlahan5.jpg' %}" alt="profilku" width="600px">
    <br>
    <p>Secara garis besar, langkah ini bertujuan untuk mengelompokkan nilai berdasarkan kategorinya. Metode pengelompolkan diatas terbukti efektif untuk menghitung pecahan campuran secara cepat. Lantas apa langkah selanjutnya?</p>
    <p><b>Menjumlahkan Nilai Bulat</b></p>
    <p>Cara menjumlahkan pecahan campuran selanjutnya ialah menjumlahkan nilai bulat. Metode ini tentunya tidak terdapat dalam metode penjumlahan pecahan biasa di atas. Untuk itu hasilnya akan menjadi seperti berikut:</p>
    <br>
    <img src="{% static 'img/penjumlahan6.jpg' %}" alt="profilku" width="600px">
    <br>
    <p>Kalian harus ingat bahwa yang pertama harus dijumlahkan adalah nilai bulatnya terlebih dulu.</p>
    <p><b>Menjumlahkan Nilai Pecahan</b></p>
    <p>Cara menjumlahkan pecahan campuran selanjutnya ialah menjumlahkan nilai pecahannya. Untuk itu hasilnya akan menjadi seperti berikut:</p>
    <br>
    <img src="{% static 'img/penjumlahan8.jpg' %}" alt="profilku" width="600px">
    <br>
    <p><b>Menghitung Hasil Akhir</b></p>
    <p>Cara penjumlahan campuran yang terakhir yaitu menghitung hasil akhir operasi penjumlahan tersebut. Sehingga hasil akhir perhitungannya akan seperti berikut ini:</p>
    <img src="{% static 'img/penjumlahan10.jpg' %}" alt="profilku" width="600px">
    <br>
    <p>Itulah penjelasan mengenai penjumlahan pecahan biasa dan penjumlahan pecahan campuran beserta contoh soal penjumlahan pecahan. Pecahan secara umum merupakan bilangan yang terdiri dari pembilang dan penyebut dalam bentuk a/b, dimana a = pembilang dan b = penyebut.</p>


    {% endblock %}