{% extends 'base.html' %}

{% block content %}
<div class="p-3 mb-2 bg-success text-white">
    <h1><b><center>MATERI</center></b></h1>
</div>
<div class="bg-success p-2 text-dark bg-opacity-25">
<center>
    <p><b>Pecahan adalah sebuah konsep materi operasi penghitungan pada bilangan pecahan, bilangan yang dimaksud merupakan suatu bilangan yang terdiri dari pembilang dan penyebut, contoh ¼, ½, dan ¾. Dan tujuan dari materi ini adalah untuk menyederhanakan pembilang dan penyebut. Materi ini ditunjukan untuk menyederhanakan pembilang dan penyebuat sehingga dapat memudahkan operasi hitung matematika karena angka yang terlalu besar dapat disederhanakan namun tetap mempunyai nilai yang sama.
Contohnya sebagai berikut bila kita memiliki angka 10/100 dan angka 1/10, maka bila kita hitung pada dasarnya nilainya sama yakni “0,1 atau sepersepuluh”. Namun penilisan 1/10 akan memudahkan dalam operasi penghitungan.</b></p>

</center>
</div>   
{% endblock %}