{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="p-3 mb-2 bg-warning text-dark">
    <h1><b><center>EVALUASI</center></b></h1>
</div>
<div class="bg-success p-2 text-dark bg-opacity-25">
    <h2><b>EVALUASI PECAHAN SENILAI</b></h2>
    <p>1. Berapa pecahan seniai dari 4/3 adalah…</p>
    <p>2. Perhatikan gambar di bawah ini :</p>
    <br>
    <img src="{% static 'img/ps1.png' %}" width="180px">
    <br>
    <p>Pecahan senilai dengan gambat di atas jika gambar tersebut diubah menjadi pecahan adalah ….</p>
    <p>3. Tentukan pecahan yang memiliki nilai yang setara dengan 28/14!</p>
    <p>4. Perhatikan gambar dibawah ini!</p>
    <br>
    <img src="{% static 'img/ps2.png' %}" width="180px">
    <br>
    <p>Pecahan yang seniai dari gambar di atas adalah...</p>
    <p>5. Pecahan senilai dari 8/12 adalah ….</p>
    <p>6. 12/16 maka pecahan tersebut senilai dengan pecahan…</p>
    <p>7. Perhatikan gambar beriut ini!</p>
    <br>
    <img src="{% static 'img/ps3.png' %}" width="280px">
    <br>
    <p>8. Tentukan pecahan yang memiliki nilai yang setara dengan 16/18...</p>
    <p>9. Tentukan pecahan yang memiliki nilai yang setara dengan 12/16...</p>
    <p>10. Tentukan pecahan yang memiliki nilai yang setara dengan 3/8...</p>
    <br>
    <h2><b>EVALUASI PECAHAN PENJUMLAHAN</b></h2>
    <p>1. Jumlahkanlah pecahan biasa dengan pecahan biasa  ¾ + ⅞ = 6/8 + ⅞ ....</p>
    <p>2. Jumlahkanlah pecahan biasa dengan pecahan campuran  ⅕ + 2 ⅓ = ⅕ + 2 + ⅓ ...</p>
    <p>3. Jumlah pecahan campuran dengan pecahan campuran  1 ¼ + 2 ½ = 1 + ¼ + 2 + ½ ...</p>
    <p>4. 18 4⁄3  + 7 3⁄4 + 6 3⁄5 = ….</p>
    <p>5.  4 3⁄4  + 10 1⁄10 + 4 7⁄5 = ….</p>
    <br>
    <h2><b>EVALUASI PECAHAN PENGURANGAN</b></h2>
    <p>1. 3/5 – 1/4 = ….</p>
    <p>2. 1/2 – 2/5 = ….</p>
    <p>3. 2/4 – 1/5 = ….</p>
    <p>4. 4/5 – 1/4 = …</p>
    <p>5. 1/2 – 1/3 = …</p>
    <br>
    <h2><b>EVALUASI OPERASI PECAHAN</b></h2>
    <p>1. Bentuk pecahan campuran dari 17/8 adalah...</p>
    <p>2. Bentuk pecahan campuran dari 19/5 adalah...</p>
    <p>3. Bentuk pecahan campuran dari 16/7 adalah...</p>
    <p>4. Bentuk pecahan campuran dari 5,6 adalah...</p>
    <p>5. Hasil penjumlahan dari:</p>
    <br>
    <img src="{% static 'img/eval1.png' %}" width="150px">
    <br>
    <h2><b>EVALUASI PECAHAN DESIMAL</b></h2>
    <br>
    <p>1. Bentuk desimal dari 7/4 adalah . . .</p>
    <p>2. Bentuk desimal dari 25/8 adalah . . .</p>
    <p>3. Urutan terkecil ke terbesar dari 0,7 ; 0,35 ; 1/8 ; 1/6 adalah . . .</p>
    <p>4. Urutan terbesar ke terkecil dari 0,5 ; 0,55 ; 4/5 ; 3/4 adalah . . .</p>
    <p>5. Berapakah hasil dari 85,8 - 16,7 + 25,9 = ....</p>

{% endblock %}