<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/home"><b>HOME</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/evaluasi"><b>EVALUASI</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/materi"><b>MATERI</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pecahandesimal"><b>PECAHAN DESIMAL</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pecahanoperasi"><b>PECAHAN OPERASI</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pecahanpengurangan"><b>PECAHAN PENGURANGAN</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pecahanpenjumlahan"><b>PECAHAN PENJUMLAHAN</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pecahansenilai"><b>PECAHAN SENILAI</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profil"><b>PROFIL</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/video"><b>VIDEO</b></a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>